.elementor-8161 .elementor-element.elementor-element-1da38bee:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-8161 .elementor-element.elementor-element-1da38bee > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF00;}.elementor-8161 .elementor-element.elementor-element-1da38bee > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8161 .elementor-element.elementor-element-1da38bee > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8161 .elementor-element.elementor-element-1fae5f8e{text-align:center;}.elementor-8161 .elementor-element.elementor-element-3a39bf56 .elementor-swiper-button{font-size:20px;}/* Start custom CSS for testimonial-carousel, class: .elementor-element-3a39bf56 */.mondelez,.mantappu{
    padding-top: 20px
}

.goto{
    padding-top:10px;
}

.elementor-8161 .elementor-element.elementor-element-3a39bf56 .swiper-wrapper{
  transition-timing-function: linear !important; 
}/* End custom CSS */