.elementor-8178 .elementor-element.elementor-element-151e8e1 > .elementor-container{min-height:100vh;}.elementor-8178 .elementor-element.elementor-element-151e8e1 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-8178 .elementor-element.elementor-element-151e8e1 > .elementor-background-overlay{background-color:#000000;opacity:0.7;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-151e8e1{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:0px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-43322f0 > .elementor-element-populated{padding:0% 10% 0% 0%;}.elementor-8178 .elementor-element.elementor-element-9366f78{text-align:left;color:#ffffff;font-size:15px;font-weight:600;text-transform:uppercase;letter-spacing:5px;}.elementor-8178 .elementor-element.elementor-element-2b9121f{text-align:left;}.elementor-8178 .elementor-element.elementor-element-2b9121f .elementor-heading-title{color:#ffffff;font-size:65px;font-weight:600;text-shadow:0px 0px 10px rgba(0,0,0,0.3);}.elementor-8178 .elementor-element.elementor-element-57f201d{text-align:left;color:#bfbfbf;font-size:16px;font-weight:300;line-height:1.8em;}.elementor-8178 .elementor-element.elementor-element-891bc7e .elementor-button{font-size:14px;font-weight:600;letter-spacing:0px;fill:#ffffff;color:#ffffff;background-color:rgba(0,0,0,0);border-style:solid;border-width:2px 2px 2px 2px;border-radius:0px 0px 0px 0px;padding:15px 40px 15px 40px;}.elementor-8178 .elementor-element.elementor-element-891bc7e .elementor-button:hover, .elementor-8178 .elementor-element.elementor-element-891bc7e .elementor-button:focus{color:#D39F36;border-color:#D39F36;}.elementor-8178 .elementor-element.elementor-element-891bc7e .elementor-button:hover svg, .elementor-8178 .elementor-element.elementor-element-891bc7e .elementor-button:focus svg{fill:#D39F36;}.elementor-8178 .elementor-element.elementor-element-891bc7e > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-a2e96c8 > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-8178 .elementor-element.elementor-element-a2e96c8:not(.elementor-motion-effects-element-type-background), .elementor-8178 .elementor-element.elementor-element-a2e96c8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-8178 .elementor-element.elementor-element-a2e96c8{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-a2e96c8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-ba4f31e > .elementor-element-populated{padding:0% 10% 0% 10%;}.elementor-8178 .elementor-element.elementor-element-e191e31{text-align:center;}.elementor-8178 .elementor-element.elementor-element-e191e31 .elementor-heading-title{color:#ffffff;font-size:65px;}.elementor-8178 .elementor-element.elementor-element-3239d17{--spacer-size:19px;}.elementor-8178 .elementor-element.elementor-element-0729763{--spacer-size:19px;}.elementor-8178 .elementor-element.elementor-element-daddcd9:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-8178 .elementor-element.elementor-element-daddcd9 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000F7;}.elementor-8178 .elementor-element.elementor-element-daddcd9 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 0px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:20px 20px 20px 20px;}.elementor-8178 .elementor-element.elementor-element-daddcd9 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-e6a9594{text-align:center;}.elementor-8178 .elementor-element.elementor-element-e6a9594 .elementor-heading-title{color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-09bdba6{text-align:center;color:var( --e-global-color-secondary );}.elementor-8178 .elementor-element.elementor-element-e9b2d80 .elementor-button{background-color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-0cda98a:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-8178 .elementor-element.elementor-element-0cda98a > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-8178 .elementor-element.elementor-element-0cda98a > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 0px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:20px 20px 20px 20px;}.elementor-8178 .elementor-element.elementor-element-0cda98a > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-80f9710{text-align:center;}.elementor-8178 .elementor-element.elementor-element-80f9710 .elementor-heading-title{color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-8b4d1c0{text-align:center;color:var( --e-global-color-secondary );}.elementor-8178 .elementor-element.elementor-element-54995bf{--spacer-size:13px;}.elementor-8178 .elementor-element.elementor-element-e14f0d2 .elementor-button{background-color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-3319cab:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-8178 .elementor-element.elementor-element-3319cab > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-8178 .elementor-element.elementor-element-3319cab > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 0px 10px;--e-column-margin-right:10px;--e-column-margin-left:10px;padding:20px 20px 20px 20px;}.elementor-8178 .elementor-element.elementor-element-3319cab > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-df18d64{text-align:center;}.elementor-8178 .elementor-element.elementor-element-df18d64 .elementor-heading-title{color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-b246a2b{text-align:center;color:var( --e-global-color-secondary );}.elementor-8178 .elementor-element.elementor-element-6c0cd6e{--spacer-size:13px;}.elementor-8178 .elementor-element.elementor-element-6fa8152 .elementor-button{background-color:var( --e-global-color-ea56bcb );}.elementor-8178 .elementor-element.elementor-element-a7d3edb{--spacer-size:20px;}.elementor-8178 .elementor-element.elementor-element-95f2689{text-align:center;color:#FFFFFF;}.elementor-8178 .elementor-element.elementor-element-30b3477 > .elementor-container{min-height:400px;}.elementor-8178 .elementor-element.elementor-element-05f8c6f{text-align:center;}.elementor-8178 .elementor-element.elementor-element-05f8c6f .elementor-heading-title{font-size:65px;}.elementor-8178 .elementor-element.elementor-element-4c31ef1{--spacer-size:20px;}.elementor-8178 .elementor-element.elementor-element-e65bfce > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:space-around;align-items:space-around;}.elementor-8178 .elementor-element.elementor-element-97352f5 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-97352f5 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-aab34f2:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-aab34f2 img{transition-duration:0.1s;border-style:none;}.elementor-8178 .elementor-element.elementor-element-aab34f2{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-a0696c0{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-3a040e7 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-3a040e7 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-a7e7840:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-a7e7840 img{transition-duration:0.1s;}.elementor-8178 .elementor-element.elementor-element-a7e7840{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-5c53357{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-f0d313d > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-f0d313d > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-09de5d4:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-09de5d4 img{transition-duration:0.1s;border-style:none;}.elementor-8178 .elementor-element.elementor-element-09de5d4{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-98be494{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-6dd2dd8 > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-6dd2dd8 > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-42d685d:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-42d685d img{transition-duration:0.1s;border-style:none;}.elementor-8178 .elementor-element.elementor-element-42d685d{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-4140b0f{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-2f627fb > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-2f627fb > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-9baf2ac:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-9baf2ac img{transition-duration:0.1s;border-style:none;}.elementor-8178 .elementor-element.elementor-element-9baf2ac{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-695edb0{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-f38425e > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;}.elementor-8178 .elementor-element.elementor-element-f38425e > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-ec71429:hover img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-8178 .elementor-element.elementor-element-ec71429 img{transition-duration:0.1s;border-style:none;}.elementor-8178 .elementor-element.elementor-element-ec71429{width:var( --container-widget-width, 28.829% );max-width:28.829%;--container-widget-width:28.829%;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-a5d5d95{width:var( --container-widget-width, 81rem );max-width:81rem;--container-widget-width:81rem;--container-widget-flex-grow:0;}.elementor-8178 .elementor-element.elementor-element-e796750{text-align:center;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .elementor-repeater-item-ec76250 .swiper-slide-bg{background-color:#833ca3;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .elementor-repeater-item-af4a76d .swiper-slide-bg{background-color:#4054b2;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .elementor-repeater-item-a3d847c .swiper-slide-bg{background-color:#1abc9c;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .elementor-repeater-item-f29ea5f .swiper-slide-bg{background-color:#bbbbbb;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .elementor-repeater-item-8ce291b .swiper-slide-bg{background-color:#D39F36;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .swiper-slide{height:400px;transition-duration:calc(5000ms*1.2);}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .swiper-slide-contents{max-width:66%;}.elementor-8178 .elementor-element.elementor-element-2bb8c39 .swiper-slide-inner{text-align:center;}.elementor-8178 .elementor-element.elementor-element-8a4e44e{text-align:center;}.elementor-8178 .elementor-element.elementor-element-8a4e44e .elementor-heading-title{font-size:64px;}.elementor-8178 .elementor-element.elementor-element-4346d6f > .elementor-container{max-width:10000px;min-height:400px;}.elementor-8178 .elementor-element.elementor-element-4346d6f > .elementor-container > .elementor-column > .elementor-widget-wrap{align-content:center;align-items:center;}.elementor-8178 .elementor-element.elementor-element-a74eadb{width:100%;max-width:100%;}.elementor-8178 .elementor-element.elementor-element-b5dbb1b{width:100%;max-width:100%;}.elementor-8178 .elementor-element.elementor-element-7c84cdbf, .elementor-8178 .elementor-element.elementor-element-7c84cdbf > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-7c84cdbf{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:060px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-7c84cdbf > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group{padding-right:calc( 10px/2 );padding-left:calc( 10px/2 );margin-bottom:10px;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-form-fields-wrapper{margin-left:calc( -10px/2 );margin-right:calc( -10px/2 );margin-bottom:-10px;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group.recaptcha_v3-bottomright{margin-bottom:0;}body.rtl .elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-labels-inline .elementor-field-group > label{padding-left:0px;}body:not(.rtl) .elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-labels-inline .elementor-field-group > label{padding-right:0px;}body .elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-labels-above .elementor-field-group > label{padding-bottom:0px;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group > label, .elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-subgroup label{color:#FFFFFF;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-type-html{padding-bottom:0px;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper){background-color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-field-group .elementor-select-wrapper select{background-color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-button{font-family:"Mulish", Sans-serif;font-weight:700;text-transform:uppercase;}.elementor-8178 .elementor-element.elementor-element-318bab0 .e-form__buttons__wrapper__button-next{background-color:#02010100;color:#FFFFFF;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-button[type="submit"]{background-color:#02010100;color:#FFFFFF;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-button[type="submit"] svg *{fill:#FFFFFF;}.elementor-8178 .elementor-element.elementor-element-318bab0 .e-form__buttons__wrapper__button-previous{color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .e-form__buttons__wrapper__button-next:hover{background-color:#27272730;color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-button[type="submit"]:hover{background-color:#27272730;color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .elementor-button[type="submit"]:hover svg *{fill:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0 .e-form__buttons__wrapper__button-previous:hover{color:#ffffff;}.elementor-8178 .elementor-element.elementor-element-318bab0{--e-form-steps-indicators-spacing:20px;--e-form-steps-indicator-padding:30px;--e-form-steps-indicator-inactive-secondary-color:#ffffff;--e-form-steps-indicator-active-secondary-color:#ffffff;--e-form-steps-indicator-completed-secondary-color:#ffffff;--e-form-steps-divider-width:1px;--e-form-steps-divider-gap:10px;}.elementor-8178 .elementor-element.elementor-element-178b10d{width:auto;max-width:auto;}@media(max-width:1024px){.elementor-8178 .elementor-element.elementor-element-151e8e1 > .elementor-container{min-height:800px;}.elementor-8178 .elementor-element.elementor-element-151e8e1{padding:0px 14px 0px 14px;}.elementor-8178 .elementor-element.elementor-element-2b9121f .elementor-heading-title{font-size:55px;}.elementor-8178 .elementor-element.elementor-element-a2e96c8{padding:100px 25px 100px 25px;}.elementor-8178 .elementor-element.elementor-element-ba4f31e > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-e191e31 .elementor-heading-title{font-size:45px;}.elementor-8178 .elementor-element.elementor-element-daddcd9 > .elementor-element-populated{padding:20px 20px 20px 20px;}}@media(max-width:767px){.elementor-8178 .elementor-element.elementor-element-151e8e1{padding:0px 20px 0px 20px;}.elementor-8178 .elementor-element.elementor-element-43322f0 > .elementor-element-populated{padding:25px 0px 0px 0px;}.elementor-8178 .elementor-element.elementor-element-9366f78{text-align:center;}.elementor-8178 .elementor-element.elementor-element-2b9121f{text-align:center;}.elementor-8178 .elementor-element.elementor-element-2b9121f .elementor-heading-title{font-size:45px;}.elementor-8178 .elementor-element.elementor-element-57f201d{text-align:center;}.elementor-8178 .elementor-element.elementor-element-a2e96c8{padding:50px 20px 50px 20px;}.elementor-8178 .elementor-element.elementor-element-e191e31 .elementor-heading-title{font-size:30px;}.elementor-8178 .elementor-element.elementor-element-daddcd9 > .elementor-element-populated{margin:5px 25px 5px 25px;--e-column-margin-right:25px;--e-column-margin-left:25px;}.elementor-8178 .elementor-element.elementor-element-0cda98a > .elementor-element-populated{margin:5px 25px 5px 25px;--e-column-margin-right:25px;--e-column-margin-left:25px;}.elementor-8178 .elementor-element.elementor-element-3319cab > .elementor-element-populated{margin:5px 25px 5px 25px;--e-column-margin-right:25px;--e-column-margin-left:25px;}}@media(min-width:768px){.elementor-8178 .elementor-element.elementor-element-2355c22a{width:58%;}.elementor-8178 .elementor-element.elementor-element-3b297def{width:41%;}}@media(max-width:1024px) and (min-width:768px){.elementor-8178 .elementor-element.elementor-element-2355c22a{width:100%;}.elementor-8178 .elementor-element.elementor-element-3b297def{width:100%;}}/* Start custom CSS for section, class: .elementor-element-2a5efcd *//*Hover*/
.elementor-8178 .elementor-element.elementor-element-2a5efcd{
    --zoom-in: 1.1;
    --zoom-out: 0.9;
    --hover-background: #FFF;
}
.elementor-8178 .elementor-element.elementor-element-2a5efcd{
    transition: all .5;
}
.elementor-8178 .elementor-element.elementor-element-2a5efcd:hover .card-box{
    transform: scale(var(--zoom-out));
}
.card-box{
    transform: scale(1);
    transition: all .5s;
}
.card-box:hover{
    transform: scale(var(--zoom-in)) !important;
    z-index: 2;
    filter: blur(0px) !important;
}
.elementor-8178 .elementor-element.elementor-element-2a5efcd .elementor-widget-wrap{
    transition: all .5s;
}
.elementor-8178 .elementor-element.elementor-element-2a5efcd .card-box:hover .elementor-widget-wrap{
    background: var(--hover-background) !important;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-97352f5 *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-97352f5 {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-97352f5 .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-97352f5 .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-97352f5 .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-97352f5:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-97352f5:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-97352f5:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-97352f5:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-3a040e7 *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-3a040e7 {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-3a040e7 .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-3a040e7 .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-3a040e7 .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-3a040e7:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-3a040e7:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-3a040e7:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-3a040e7:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f0d313d *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-f0d313d {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-f0d313d .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-f0d313d .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-f0d313d .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-f0d313d:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-f0d313d:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-f0d313d:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-f0d313d:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-6dd2dd8 *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-6dd2dd8 {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-6dd2dd8 .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-6dd2dd8 .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-6dd2dd8 .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-6dd2dd8:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-6dd2dd8:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-6dd2dd8:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-6dd2dd8:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-2f627fb *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-2f627fb {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-2f627fb .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-2f627fb .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-2f627fb .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-2f627fb:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-2f627fb:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-2f627fb:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-2f627fb:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */
/* Start custom CSS for column, class: .elementor-element-f38425e *//*Selector awal */
.elementor-8178 .elementor-element.elementor-element-f38425e {
  width: 200px;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  
}

.elementor-8178 .elementor-element.elementor-element-f38425e .custom_img {
  box-sizing: border-box;
  position: default;
  top: 40px;
  left: 160px;
  transform: translate(-100px, -40px); 
  transition: .5s ease-in-out;
  
}

.elementor-8178 .elementor-element.elementor-element-f38425e .hide_content {
  opacity: 0;
  top: -5px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}
.elementor-8178 .elementor-element.elementor-element-f38425e .hide_content1 {
  opacity: 0;
  top: 30px;
  left: -100px;
  position: absolute;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-f38425e:hover {
  width: 350px;
  background-color: #d39f36
}

.elementor-8178 .elementor-element.elementor-element-f38425e:hover .custom_img {
  width: 25%;
  top: 45px;
  left: 100px;
  transform: translate(-100px, -45px);
  opacity: 1;
  transition: .5s ease-in-out;
}

.elementor-8178 .elementor-element.elementor-element-f38425e:hover .hide_content,.elementor-8178 .elementor-element.elementor-element-f38425e:hover .hide_content1 {
  width: 50%;
   left: 1px;
  transform: translate(100px, 15px);
  opacity: 1;
  left: 0;
}/* End custom CSS */